{% load static %}
{% include 'base/head_produk.html' %}

{% include 'base/nav.html' %}

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-10">
        <div class="heading-39101">
          <span class="subtitle-39192">Produk desa suban ayam</span>
          <h3>Suban Ayam</h3>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          {% for data in datas %}
          <div class="col-lg-4 col-md-6 special-grid best-seller">
            <div class="products-single fix">
              <div class="box-img-hover">
                <div class="type-lb">
                  <p class="sale">Sale</p>
                </div>
                
                {% if not data.foto %}
                <img src="{% static 'default/gambar.png' %}" class="img-fluid" alt="" style="height: 350px; width: 350px;">
                {% else %}
                <img src="{{data.foto.url}}" class="img-fluid" alt="" style="height: 350px; width: 350px;">
                {% endif %}
                  
                <div class="mask-icon">
                  <a class="cart" href="https://api.whatsapp.com/send?phone=62{{data.no_wa}}" target="blank">Hubungi
                    penjual</a>
                </div>
              </div>
              <div class="why-text">
                <h4>{{data.nama}}</h4>
                <h5> Rp.{{data.harga}}</h5>
                <br>
                <h6>Pemilik : {{data.nama_penjual}}</h6>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        {% if datas.has_other_pages %}
        <div class="col-12 mt-5 text-center">
          {% if datas.has_previous %}
          <a class="p-3" href="?page={{ datas.previous_page_number }}">«</a>
          {% else %}
          <a class="disabled p-3"><span>«</span></a>
          {% endif %}
          {% for i in datas.paginator.page_range %}
          {% if datas.number == i %}
          <a class="active p-3"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
          {% else %}
          <a class="p-3" href="?page={{ i }}">{{ i }}</a>
          {% endif %}
          {% endfor %}
          {% if datas.has_next %}
          <a class="p-3" href="?page={{ datas.next_page_number }}">»</a>
          {% else %}
          <a class="disabled p-3"><span>»</span></a>
          {% endif %}
        </div>
        {% endif %}

      </div>
    </div>

  </div>
</div> <!-- END .site-section -->

{% include 'base/footer.html' %}