{% load static %}
<footer class="footer pt-0">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6">
      <div class="copyright text-center text-lg-left text-muted">
        &copy; <script>
          document.write(new Date().getFullYear());
        </script> <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Team suban ayam
          || kkn periode 94 kelompok 32 @w_r_69</a>
      </div>
    </div>
    <div class="col-lg-6">
      <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
          <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
        </li>
        <li class="nav-item">
          <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
        </li>
        <li class="nav-item">
          <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a href="https://www.creative-tim.com/license" class="nav-link" target="_blank">License</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
</div>
</div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="{% static 'b/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/js-cookie/js.cookie.js' %}"></script>
<script src="{% static 'b/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
<!-- Optional JS -->
<script src="{% static 'b/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
<script src="{% static 'b/assets/vendor/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<!-- Argon JS -->
<script src="{% static 'b/assets/js/argon.js' %}"></script>
<!-- Demo JS - remove this in your project -->
<script src="{% static 'b/assets/js/demo.min.js' %}"></script>
<script type="text/javascript">
  var msg = document.title;
  var speed = 150;
  var endChar = "... ";
  var pos = 0;

  function moveTitle() {
    var ml = msg.length;

    title = msg.substr(pos, ml) + endChar + msg.substr(0, pos);
    document.title = title;

    pos++;
    if (pos > ml) pos = 0;
    window.setTimeout("moveTitle()", speed);
  }

  moveTitle();
</script>
</body>

</html>