{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{{page_title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="{% static 'a/fonts/icomoon/style.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'a/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'a/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'a/css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'a/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'a/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'a/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'a/css/aos.css' %}">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="{% static 'a/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'a/css/custom.css' %}">

  <script src="{% static 'c/chart/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'c/chart/Chart.js' %}"></script>

</head>
<html lang="en">

<head>
  <title>Trips &mdash; Website Template by Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/aos.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <header class="site-navbar site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">

          <div class="col-3 ">
            <div class="site-logo">
              <a href="index.html" class="font-weight-bold">
                <img src="{% static 'a/images/logo.png' %}" alt="Image" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-9  text-right">


            <span class="d-inline-block d-lg-none"><a href="#"
                class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
                  class="icon-menu h3 text-white"></span></a></span>



            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto ">
                <li><a href="index.html" class="nav-link">Home</a></li>
                <li class="active"><a href="about.html" class="nav-link">About</a></li>
                <li><a href="trips.html" class="nav-link">Trips</a></li>
                <li><a href="blog.html" class="nav-link">Blog</a></li>
                <li><a href="contact.html" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>


        </div>
      </div>

    </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" style="background-image: url('{%static 'a/images/hero_1.jpg'%}')">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-5" data-aos="fade-up">
              <h1 class="mb-3 text-white">About Us</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis in tenetur doloremque,
                maiores doloribus officia iste. Dolores.</p>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">

          </div>
          <div class="row ml-10">
            <div class="col-md-6">

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="site-section py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 order-1">
            <div class="table-title2">
              <div class="col-sm-6">
                <h2>Data Penduduk Suban ayam</h2>
              </div>
            </div>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Penduduk</th>
                  <th scope="col">Jumlah (orang)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Total Penduduk</td>
                  <td>{{tl}}</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Total KK</td>
                  <td>{{kk}}</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Laki Laki</td>
                  <td> {{jl}}</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Perempuan</td>
                  <td>{{pr}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 order-1 ml-3" data-aos="fade-right">
            <canvas id="mycanvas" width="500" height="500" style="margin-left: 100px;"></canvas>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Our Team</span>
              <span class="subtitle-39191">Amazing Staff</span>
              <h3>Meet Our Team</h3>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="images/person_1.jpg" alt="Image" class="img-fluid mb-4">
              <div class="px-4">
                <h2 class="mb-2">John Doe</h2>
                <p class="caption mb-4">Staff</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, maiores? Eos alias fugit eius,
                  repudiandae molestias error</p>
                <div class="social_29128 mt-5">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="images/person_2.jpg" alt="Image" class="img-fluid mb-4">
              <div class="px-4">
                <h2 class="mb-2">Jean Doe</h2>
                <p class="caption mb-4">Staff</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, maiores? Eos alias fugit eius,
                  repudiandae molestias error</p>
                <div class="social_29128 mt-5">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="images/person_3.jpg" alt="Image" class="img-fluid mb-4">
              <div class="px-4">
                <h2 class="mb-2">Claire Dormey</h2>
                <p class="caption mb-4">Staff</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, maiores? Eos alias fugit eius,
                  repudiandae molestias error</p>
                <div class="social_29128 mt-5">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>






    <div class="site-section bg-image overlay" style="background-image: url('images/hero_1.jpg')">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-white">Join and Trip With Us</h2>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ut, doloremque quo
              molestiae nesciunt officiis veniam, beatae dignissimos!</p>
            <p class="mb-0"><a href="#" class="btn btn-primary text-white py-3 px-4">Get In Touch</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-3">Instagram</h2>
            <div class="row">
              <div class="col-4 gal_col">
                <a href="#"><img src="images/insta_1.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div class="col-4 gal_col">
                <a href="#"><img src="images/insta_2.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div class="col-4 gal_col">
                <a href="#"><img src="images/insta_3.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div class="col-4 gal_col">
                <a href="#"><img src="images/insta_4.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div class="col-4 gal_col">
                <a href="#"><img src="images/insta_5.jpg" alt="Image" class="img-fluid"></a>
              </div>
              <div class="col-4 gal_col">
                <a href="#"><img src="images/insta_6.jpg" alt="Image" class="img-fluid"></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row">
              <div class="col-lg-6 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h2 class="footer-heading mb-4">Newsletter</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt odio iure animi ullam quam,
                  deleniti rem!</p>
                <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control mr-3" placeholder="Email">
                  <input type="submit" value="Send" class="btn btn-primary">
                </form>
              </div>

            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="icon-heart text-danger"
                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> Downloaded from
                <a href="https://themeslab.org/" target="_blank">Themeslab</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

  </div>

  <script>
    $(document).ready(function () {
      var ctx = $("#mycanvas").get(0).getContext("2d");

      //pie chart data
      //sum of values = 360
      var data = [{
          value: 270,
          color: "cornflowerblue",
          highlight: "lightskyblue",
          label: "Corn Flower Blue"
        },
        {
          value: 50,
          color: "lightgreen",
          highlight: "yellowgreen",
          label: "Lightgreen"
        },
        {
          value: 40,
          color: "orange",
          highlight: "darkorange",
          label: "Orange"
        }
      ];

      //draw
      var piechart = new Chart(ctx).Pie(data);
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

  <script src="{% static 'a/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'a/js/jquery-migrate-3.0.0.js' %}"></script>
  <script src="{% static 'a/js/popper.min.js' %}"></script>
  <script src="{% static 'a/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'a/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'a/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'a/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'a/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'a/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'a/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'a/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'a/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'a/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'a/js/aos.js' %}"></script>
  <script src="{% static 'a/js/main.js' %}"></script>

</body>

</html>